extends layout
block in_head
	link(rel="stylesheet", href="css/frendr_Home.css")
	script(src="js/Frendur_Home.js")
block content
	
	div(class="content")
		div(class="Home_Post")
			span Write A Post
			form
				textarea(class="Message_Input", style="resize:none")
				button(class="Send_Input") Post