extends layout
block in_head
	link(rel="stylesheet" href="css/frendr_Profile.css")
	script(src="js/Frendur_Profile.js")
block content
	
	div(class="content")

		div(class="")
			div(class="P_Banner")
				div(class="P_B_Image")
					if(isYours)
						a(href="/UploadProfilePicture")
							img(src="/Profile/my_image")
					else
						img(src="/Profile/image?username=" + username)
				div(class="P_B_username")
					span #{username}
					if (!isFriend)
						Button Add as Friend
			div(class="P_Content")
				div(class="P_C_Friends")
					div(class="Friends_Banner")
						span 
							b Friends
					div(class="Friends_List")
				div(class="P_C_Posts")

