extends layout
block in_head
	link(rel="stylesheet" href="css/frendr_Profile.css")
	script(src="js/Frendur_Profile.js")
block content
	
	div(class="content")


		a(href="/UploadProfilePicture") Upload Profile Image

		div(class="")
			div(class="P_Banner")
				div(class="P_B_Image")
					img(src="/Profile/my_image")
				div(class="P_B_username")
					span Sumnut
			div(class="P_Content")
				div(class="P_C_Friends")
					div(class="Friends_Banner")
						span 
							b Friends
					div(class="Friends_List")
						div(class="P_C_Friend")
							img(src="/Profile/my_image")
							span Sumnut
						div(class="P_C_Friend")
							img(src="/Profile/my_image")
							span Sumnut
						div(class="P_C_Friend")
							img(src="/Profile/my_image")
							span Sumnut
						div(class="P_C_Friend")
							img(src="/Profile/my_image")
							span Sumnut
						div(class="P_C_Friend")
							img(src="/Profile/my_image")
							span Sumnut
						div(class="P_C_Friend")
							img(src="/Profile/my_image")
							span Sumnut
						div(class="P_C_Friend")
							img(src="/Profile/my_image")
							span Sumnut


				div(class="P_C_Posts")

