.signUpText{
	font-size: 20px;
	margin-bottom: 10px;
}

.Welcome {
	background-color: #bbb;
	border: 1px solid #aaa;
	border-radius: 5px;
}

.WelcomeBanner>.WBanner {
	font-size: 60px;
}

.WelcomeBanner>.WMain{
	font-size: 24px;
}

.WelcomeBanner>.WOffer {
	margin-top: 200px;
	font-size: 12px;
}

.WelcomeBanner>.WSeriously {
	font-size: 1px;
}


.WelcomeExtra {
	background-color: #ddd;
	border: 1px solid #ccc;
}

footer {
	margin-top: 30px;
}